@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");
@import "tailwindcss";

@theme {
  --font-playfair: "Playfair", serif;
  --font-inter: "Inter", sans-serif;
}

/* Base styles for common elements */
@layer base {
  html {
    @apply font-sans;
  }

  body {
    @apply bg-white font-inter;
  }

  input {
    @apply focus:outline-none;
  }

  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
  }

  input[type="search"]::-ms-clear {
    display: none;
  }

  th {
    @apply font-normal text-xs text-left text-neutral-800 px-2 py-3;
  }

  td {
    @apply text-left border-b border-b-gray-200 text-sm max-md:text-xs text-gray-800 px-2 py-4;
  }
}

/* ReUsable components */
@layer components {
  .page {
    @apply px-[10%] max-md:px-5 py-5;
  }

  .card {
    @apply rounded-md shadow-lg p-6 transition;
  }

  /* Button */
  .btn {
    @apply text-sm font-medium px-4 py-1.5 rounded-md transition-colors duration-500 leading-0;
  }

  /* Button Variants */
  .btn-solid {
    @apply bg-black text-white border-2 border-black hover:border-black/0 hover:bg-black/80 focus:ring-2 focus:ring-black whitespace-nowrap;
  }

  .btn-outline {
    @apply bg-transparent text-black border-2 border-gray-300 hover:bg-black hover:border-black hover:text-white;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
}
